<mat-toolbar>
    <mat-toolbar-row class="header">
        <button mat-icon-button class="icon-button">
        <mat-icon color="primary">format_indent_increase</mat-icon>
        <!-- <mat-icon color="primary">format_indent_decrease</mat-icon> -->
        </button>
        <span class="text">CÔNG TY CÔNG NGHỆ THÔNG TIN VNPT</span>
        <span class="spacer"></span>
        <button mat-icon-button class="icon">
            <mat-icon color="primary">home</mat-icon>
        </button>
        |
        <button mat-icon-button class="icon">
            <mat-icon color="primary">notifications</mat-icon>
        </button>
        <span class="badge">&nbsp;&nbsp;1&nbsp;&nbsp;</span>
        |&nbsp;&nbsp;
        <button mat-icon-button class="icon">
            <mat-icon color="primary">apps</mat-icon>
        </button>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <button mat-icon-button class="account-circle-icon">
            <mat-icon>account_circle</mat-icon>
            Tuấn Cường
            <mat-icon>expand_more</mat-icon>
        </button>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <button mat-icon-button class="language-icon">
            <mat-icon>language</mat-icon>
            Tiếng Việt
            <mat-icon>expand_more</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>