.footer{
    background-color: #F8FAFD;
}

.footer1{
    padding: 3px 20px 10px;
    position: fixed;
    margin-left: -10px;
    bottom: -10px;
    width: 80%;
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    font-size: 13px;
}

.icon{
    font-size: 15px;
}

.spacer {
    flex: 1 1 auto;
}

.footer2{
    position: fixed;
    bottom: 0px;
    width: 79%;
    color: black;
    text-align: right;
    font-size: 13px;
}

.logo img{
    width: 50px;
}

.logo_name{
    display: inline-block;
    font-size: 13px;
}