<div class="content">
    <h2>TỔNG HỢP CHUNG HỘ KINH DOANH ĐĂNG KÝ</h2><br/>
    <form [formGroup]="formStatistics" #form>
        <div class="btn">
            <button mat-raised-button class="btnFile" (click)="exportExcel()">
                <!-- <mat-icon>insert_chart_outlined</mat-icon> -->
                <img class="img" src="../../assets/img/excel.png"/>
                <mat-label>Xuất file Excel</mat-label>
            </button>
            <button type="submit" mat-raised-button class="btnSearch" (click)="onSearch()" #form>
                <mat-icon>search</mat-icon>
                <mat-label>Tìm kiếm</mat-label>
            </button>
        </div>
        <br/>
        <div>
            <mat-form-field appearance="outline" class="col1a">
                <mat-label>Tháng</mat-label>
                <!-- <button mat-button [matMenuTriggerFor]="menu" formControlName="month">Tháng</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let element of month; let i = index" [value]="i-1">{{ element }}</button>
                </mat-menu> -->
                <mat-select formControlName="month">
                    <mat-option *ngFor="let element of month; let i = index" [value]="i-1">
                        {{ element }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col1b">
                <mat-label>Năm</mat-label>
                <mat-select formControlName="year">
                    <mat-option *ngFor="let element of year; let i = index" [value]="i-1" matSortActive="element" matSortDirection="asc">
                        {{ element }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col2">
                <mat-label>Người ký</mat-label>
                <mat-select formControlName="receptionPerson">
                    <mat-option *ngFor="let element of persons; let i = index" [value]="i-1">
                        {{ element }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col2">
                <mat-label>Chức vụ</mat-label>
                <mat-select formControlName="position">
                    <mat-option *ngFor="let element of position; let i = index" [value]="i-1">
                        {{ element }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <p #error id="err1" style="color: red; display: none;">&nbsp;&nbsp;&nbsp;Vui lòng chọn "từ ngày" nhỏ hơn "đến ngày"!</p>
            <p id="err2" style="color: red; display: none;">&nbsp;&nbsp;&nbsp;Không có dữ liệu để xuất!</p>
            <p id="err3" style="color: red; display: none;">&nbsp;&nbsp;&nbsp;Vui lòng chọn "đến ngày" nhỏ hơn hoặc bằng ngày hiện tại!</p>
            <p id="err4" style="color: red; display: none;">&nbsp;&nbsp;&nbsp;Vui lòng chọn "từ ngày" nhỏ hơn ngày hiện tại và nhỏ hơn "đến ngày", còn "đến ngày" nhỏ hơn hoặc bằng ngày hiện tại!</p> -->
        </div>
    </form>
    <br/>
    <div class="mat-elevation-z8" #dataTable>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'text-align': 'left'}"> STT </th>
                <td mat-cell *matCellDef="let myRowData; columns: columnsToDisplay; let i = index"> {{i+1}} </td>
            </ng-container>
      
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Tên HKD  </th>
                <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
            </ng-container>
      
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Số ĐKKD </th>
                <td mat-cell *matCellDef="let element"> {{element?.certificationNumber}} </td>
            </ng-container>
        
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ngày cấp </th>
                <td mat-cell *matCellDef="let element"> {{element?.createdDate | date : 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Vốn ĐK </th>
                <td mat-cell *matCellDef="let element"> {{element?.transactions[0]?.certification?.businessCapital}} </td>
            </ng-container>

            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Ngành nghề </th>
                <td mat-cell *matCellDef="let element"> {{element?.transactions[0]?.certification?.categoryCareer[0]?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Địa chỉ </th>
                <td mat-cell *matCellDef="let element"> {{element?.address}} </td>
            </ng-container>

            <ng-container matColumnDef="0">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Chủ hộ kinh doanh </th>
            </ng-container>

            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'text-align': 'left'}"> Họ tên </th>
                <td mat-cell *matCellDef="let element"> {{element?.representative?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
                <td mat-cell *matCellDef="let element"> {{element?.representative?.identityCard?.birthday | date : 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="10">
                <th mat-header-cell *matHeaderCellDef> Số CMND </th>
                <td mat-cell *matCellDef="let element"> {{element?.representative?.identityCard?.id}} </td>
            </ng-container>

            <ng-container matColumnDef="11">
                <th mat-header-cell *matHeaderCellDef> Cơ quan cấp </th>
                <td mat-cell *matCellDef="let element"> {{element?.representative?.identityCard?.issuePlace}} </td>
            </ng-container>

            <ng-container matColumnDef="12">
                <th mat-header-cell *matHeaderCellDef> Ngày cấp </th>
                <td mat-cell *matCellDef="let element"> {{element?.representative?.identityCard?.issueDate | date : 'dd/MM/yyyy'}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="['1', '2', '3', '4', '5', '6', '7', '0']"></tr>
            <tr mat-header-row *matHeaderRowDef="['8', '9', '10', '11', '12']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>
    </div>
    <br/>
</div>
