*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.content{
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.247);
    margin: 15px;
    position: relative;
    padding: 10px 8px;
}

.content h2{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.add-household{
    background-color: #1565C0;
    color: white;
    border-radius: 5px;
    width: 90px;
}

.add-household .icon{
    font-size: 17px;
}

.add-household a{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding-top: 2px;
    padding-right: 2px;
    font-size: 12px;
    line-height: 14px;
}

.status{
    padding-top: 12px;
}

.status h5{
    font-size: 13px;
    color: black;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	//opacity: 0.5 !important;     /*click effect color change*/
	background-color: blue !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: blue !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:blue !important; /*outer ring color change*/
}

mat-form-field{
    width: 220px;
    padding: 0px 10px;
}

.col{
    width: 200px;
}

.searchbar{
    background-color: #1565C0;
    color: white;
    border-radius: 5px;
    width: 90px;
    bottom: 5px;
    left: 5px;
}

.searchbar .icon{
    font-size: 20px;
}

.search h5{
    color: #1565C0;
}

.search h5 a{
    color: black;
}

.search h5 a .icon{
    font-size: 20px;
}

table {
    width: 100%;
}

table th{
    background-color: #D6E4FF;
    color: #353535;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    // border: 1px solid #353535;
}

table td{
    background-color: #F0F8FF;
    text-align: center;
    // border: 1px solid #353535;
}

#card_0{
    padding: 4px 20px;
    color: #1565C0;
    border: 1px solid #1565C0;
}

#card_1{
    padding: 4px 20px;
    color: #198754;
    border: 1px solid #198754;
}

.row-below-table{
    float: right;
}

.row-below-table .icon{
    font-size: 17px;
}

.menu-a{
    text-decoration: none;
}